<div class="alert <%= type %>" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <% if(typeof errors !== "undefined") { %>
        <%= errors.find(error => error.param === field).msg %>
    <% } else { %>
        <%= message %>
    <% } %>
</div>