<% include ../partials/header %>

<!-- TODO: Refactor common header and footer -->
<div class="card">
    <h3 class="card-header"><%= operation %> Day Log</h3>

    <div class="card-block">

        <form action="<%= action %>" method="<%= method %>" enctype="application/x-www-form-urlencoded">

            <% if(operation === constants.FORM_OPERATIONS.edit) { %>
                <input type="hidden" value="PUT" name="_method">
            <% } %>

            <div class="container">
                <div class="form-group row">
                    <label for="title" class="col-sm-2 col-form-label text-right">Title</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="title" name="title"
                            placeholder="Describe your log" required
                            <%= (operation === constants.FORM_OPERATIONS.view) ?
                                'readonly' : '' %>><%= (typeof daylog !== 'undefined') ?
                                    daylog.title : '' %></textarea>
                        <% if(typeof errors !== 'undefined' &&
                                errors.find(error => error.param === 'title')) { %>
                            <%- include('../partials/alert', { errors: errors, type: 'alert-danger',
                                field: 'title' }) %>
                        <% } %>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="slug" class="col-sm-2 col-form-label text-right">Slug</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="slug" name="slug"
                            placeholder="example-daylog-slug" required
                            <%= (operation === constants.FORM_OPERATIONS.view ||
                                operation === constants.FORM_OPERATIONS.edit) ? 'readonly' : '' %>
                            value="<%= (typeof daylog !== 'undefined') ? daylog.slug : '' %>">
                        <% if(typeof errors !== 'undefined' &&
                                errors.find(error => error.param === 'slug')) { %>
                            <%- include('../partials/alert', { errors: errors, type: 'alert-danger',
                                field: 'slug' }) %>
                        <% } %>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="location" class="col-sm-2 col-form-label text-right">Location</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="location" name="location"
                            placeholder="Location of log" required
                            <%= (operation === constants.FORM_OPERATIONS.view) ? 'readonly' : '' %>
                            value="<%= (typeof daylog !== 'undefined') ? daylog.location : '' %>">
                        <% if(typeof errors !== 'undefined' &&
                                errors.find(error => error.param === 'location')) { %>
                            <%- include('../partials/alert', { errors: errors, type: 'alert-danger',
                                field: 'location' }) %>
                        <% } %>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="logAt" class="col-sm-2 col-form-label text-right">Date of log</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" id="logAt" name="logAt"
                            placeholder="Date of log" required
                            <%= (operation === constants.FORM_OPERATIONS.view) ? 'readonly' : '' %>
                            value="<%= (typeof daylog !== 'undefined' && daylog.logAt) ?
                                daylog.logAt.toISOString().substring(0, 10) : '' %>">
                        <% if(typeof errors !== 'undefined' &&
                                errors.find(error => error.param === 'logAt')) { %>
                            <%- include('../partials/alert', { errors: errors, type: 'alert-danger',
                                field: 'logAt' }) %>
                        <% } %>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-right">Category</label>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio"
                                    name="category" id="category" value="Adequate" required
                                    <%= (operation === constants.FORM_OPERATIONS.view) ? 'disabled' : '' %>
                                    <%= (typeof daylog !== 'undefined') ? (
                                        daylog.category === "Adequate" ? 'checked' : '') : '' %>>
                                Adequate
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio"
                                    name="category" id="category" value="Minor" required
                                    <%= (operation === constants.FORM_OPERATIONS.view) ? 'disabled' : '' %>
                                    <%= (typeof daylog !== 'undefined') ? (
                                        daylog.category === "Minor" ? 'checked' : '') : '' %>>
                                Minor
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio"
                                    name="category" id="category" value="Major" required
                                    <%= (operation === constants.FORM_OPERATIONS.view) ? 'disabled' : '' %>
                                    <%= (typeof daylog !== 'undefined') ? (
                                        daylog.category === "Major" ? 'checked' : '') : '' %>>
                                Major
                            </label>
                        </div>
                        <% if(typeof errors !== 'undefined' &&
                                errors.find(error => error.param === 'category')) { %>
                            <%- include('../partials/alert', { errors: errors, type: 'alert-danger',
                                field: 'category' }) %>
                        <% } %>
                    </div>
                </div>

                <% if(operation !== constants.FORM_OPERATIONS.view) { %>
                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-danger">Reset</button>
                    </div>
                </div>
                <% } %>
            </div><!-- .container -->

        </form>

    </div><!-- .card-block -->

    <div class="card-footer text-center">
        <a href="/daylog" class=" btn btn-primary btn-sm">Back</a>
    </div>

</div><!-- .card -->


<% include ../partials/footer %>